<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>LIVER CANCER WEBSITE</title>
</head>

<body>
  <section>
    <div class="UI">
    </div>
    <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <nav class="navbar">
        <ul>
        <img class="logo" src="" ALT="align box">
        <a href="#"><i class="fa fa-sign-out"></i> Sign Out </a>
        <a href="#"><i class="fa fa-product-hunt"></i> Prediction</a>
        <a href="#"><i class="fa fa-user-md"></i> Doctor</a>
        <a href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </ul>
      </nav>
    </header>  
    
    <div class="bg-img">
      <h3>Popup box Windows without JavaScript</h3>
      <div class="box">
	     <a class="button" href="#popup1">Let me Pop up</a>
      </div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Hello</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Thank to pop me out of that button, but now i'm done so you can close this window.
		</div>
	</div>
</div>

    <form action="{{ url_for('predict')}}"method="POST" class="container">
    <h1>Liver Cancer Prediction</h1>
    <p>Please Fill in the Required Details :</p><br>
        <TABLE BORDER="0">
          <TR>
           <TD>Age</TD>
            <TD>
            <INPUT TYPE="TEXT" NAME="AGE">
            </TD>
          </TR>
          <TR>
            <TD>Gender</TD>
            <TD><INPUT TYPE="TEXT" NAME="GENDER"></TD>
          </TR>
          <TR>
            <TD>Total Bilirubin</TD>
            <TD><INPUT TYPE="TEXT" NAME="TOTAL BILIRUBIN"></TD>
          </TR>
          <TR>
            <TD>Direct Bilirubin</TD>
            <TD><INPUT TYPE="TEXT" NAME="DIRECT BILIRUBIN"></TD>
          </TR>
          <TR>
            <TD>Alkaline Phosphotase</TD>
            <TD><INPUT TYPE="TEXT" NAME="Alkaline Phosphotase"></TD>
          </TR>
          <TR>
            <TD>Alamine Aminotransferase</TD>
            <TD><INPUT TYPE="TEXT" NAME="Alamine Aminotransferase"></TD>
          </TR>
          <TR>
            <TD>Aspartate Aminotransferase</TD>
            <TD><INPUT TYPE="TEXT" NAME="Aspartate Aminotransferase"></TD>
          </TR>
          <TR>
            <TD>Total Protiens</TD>
            <TD><INPUT TYPE="TEXT" NAME="Total Protiens"></TD>
          </TR>
          <TR>
            <TD>Albumin</TD>
            <TD><INPUT TYPE="TEXT" NAME="Albumin"></TD>
          </TR>
          <TR>
            <TD>Albumin and Globulin Ratio</TD>
            <TD><INPUT TYPE="TEXT" NAME="Albumin and Globulin Ratio"></TD>
          </TR>
        </TABLE>
        <P><INPUT TYPE="SUBMIT" VALUE="PREDICT" NAME="B1" CLASS="btn"></P>
      </form>  
      {{ prediction_text }}
 </div>
</body>
</html>
