<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>LIVER CANCER WEBSITE</title>
</head>

<body>
  <section>
    <div class="UI">
    </div>
    <header>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <nav class="navbar">
        <ul>
        <img class="logo" src="C:\Users\SOMNATH\Dropbox\My PC (SWAP)\Downloads\rsz_logoimage.png" ALT="align box">
        <a href="#"><i class="fa fa-sign-out"></i> Sign Out </a>
        <a href="#"><i class="fa fa-product-hunt"></i> Prediction</a>
        <a href="#"><i class="fa fa-user-md"></i> Doctor</a>
        <a href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </ul>
      </nav>
    </header>  
    
    <div class="bg-img">
    <form action="{{ url_for('predict')}}"method="POST" class="container">
    <h1>Liver Cancer Prediction</h1>
    <p>Please Fill in the Required Details :</p><br>
        
        <Table Border="0">
          <TR>
          <TD>Age</TD>
          <TD><Input type="Text" Name="Age" Placeholder="A" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Gender</TD>
          <TD><Input type="Text" Name="Gender" Placeholder="B" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Total Bilirubin</TD>
          <TD><Input type="Text" Name="Total Bilirubin" Placeholder="C" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Direct Bilirubin</TD>
          <TD><Input type="Text" Name="Direct Bilirubin" Placeholder="D" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Alkaline Phosphotase</TD>
          <TD><Input type="Text" Name="Alkaline Phosphotase" Placeholder="E" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Alamine Aminotransferase</TD>
          <TD><Input type="Text" Name="Alamine Aminotransferase" Placeholder="F" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Aspartate Aminotransferase</TD>
          <TD><Input type="Text" Name="Aspartate Aminotransferase" Placeholder="G" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Total Protiens</TD>
          <TD><Input type="Text" Name="Total Protiens" Placeholder="H" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Albumin</TD>
          <TD><Input type="Text" Name="Albumin" Placeholder="I" Required="Required"></TD>
          </TR>
          <TR>
          <TD>Albumin and Globulin Ratio</TD>
          <TD><Input type="Text" Name="Albumin and Globulin Ratio" Placeholder="J" Required="Required"></TD>
          </TR>
        </Table>
              
      <p><Input type="Submit" Value="Predict" Name="B1" Class="btn"></p>
      </form>  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
              
      {{ prediction_text }}
              
 </div>
</body>
</html>
